div {border: 2px solid #000;}

.student-head {width: 300px; height: 300px; border-radius: 300px; background-color: yellow; position: relative;}

.eye {width: 50px; height: 50px; border-radius: 50px; top: 50px; position: absolute; background-color: #fff;}
.right-eye {left: 70px;}
.left-eye {right: 70px;}
.retina {width: 10px; height: 10px; border-radius: 10px; position: absolute; background-color: #000;}
.right-eye .retina {left: 30px; bottom: 10px;}
.left-eye .retina {left: 2px; top: 2px;}

.nose {width: 50px; height: 50px; border-radius: 50px; background-color: #f00; position: absolute; top: 125px; left: 125px;}

.mouth {width: 150px; height: 50px; border-radius: 50px; background-color: #fff; position: absolute; left: 75px; bottom: 50px;}
.mouth .teeth {width: 30px; height: 30px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; top: -2px; position: absolute;}
.mouth .first {left: 40px;}
.mouth .second {right: 40px;}