* {margin: 0; padding: 0;}

body {background: url(colorful_dots_on_black.jpg) repeat; font-family: 'Tahoma',sans-serif;}

body > header {width: 100%; color: #ffff00; height: 100px; text-align: center; font-size: 50px; font-weight: bold;
    background:
            -moz-linear-gradient(left,
            rgba(255,0,0,1) 0%,
            rgba(255,0,0,1) 33%,
            rgba(0,128,0,1) 33%,
            rgba(0,128,0,1) 69%,
            rgba(0,0,255,1) 69%,
            rgba(0,0,255,1) 100%);
}

aside {width: 320px; background-color: #fff; border-radius: 20px; opacity: .9; padding: 30px 20px;}